.App {
  text-align: center;
  height: 97vh;
  font-family: sans-serif;
  box-sizing: border-box;
}

.App button:hover {
  opacity: 0.9;
}

.App button:hover {
  opacity: 0.6;
}
/* ****** header ***** */

.App header {
  height: 132px;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
}

header .alarm {
  padding: 0 80px;
  font-size: 80px;
  color: #5C48D3;
}

header h1 {
  line-height: 132px;
  font-size: 48px;
  font-weight: 400;
}


/* ******* main section ******* */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
}
.counter-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  margin: 0 20px;
}

.add-counter {
  width: 250px;
  height: 70px;
  border: none;
  border-radius: 15px;
  font-size: 32px;
  font-weight: 600px;
  margin-top: 50px;
}

.color-white {
  color: white;
}
.bg-purple {
  background-color: #5C48D3;
}

.plus-btn, .minus-btn {
  border: none;
  background-color: white;
  font-size: 100px;
}

.minus-btn {
  margin-bottom: 20px;
}
.btn-container .display {
  max-width: 150px;
  max-height: 150px;
  border: none;
  border-radius: 15px;
  font-size: 96px;
  line-height: 150px;
  font-weight: 400px;
  text-align: center;
}


.counter-component .reset {
  
  margin-top: 10px;
  margin-bottom: 50px;
  border: none;
  border-radius: 15px;
  width: 150px;
  height: 60px;
  font-size: 32px;
  font-weight: 600;
}

footer {
  margin-top: 12%;
}
footer span {
  font-weight: bold;
}

@media(max-width: 860px) {
  footer {
    margin-top: 0px;
  }

  .counter-component {
    margin-bottom: 0px;
    
  }
}

@media(max-width: 650px) {
   .App header {
    height: 122px;
  }
  
  header .alarm {
    padding: 0 20px;
  }
  
  header h1 {
    font-size: 34px;
    font-weight: 400;
  }
}

@media(max-width: 400px) {
  
  .App header {
    height: 100px;
  }
  
  header .alarm {
    font-size: 40px;
    padding: 0 15px;
  }
  
  header h1 {
    font-size: 24px;
  }

  .btn-container .display {
    max-width: 125px;
    max-height: 125px;
    line-height: 125px;
  }
  
  
  .counter-component .reset {
    width: 125px;
  }
  .plus-btn, .minus-btn {
    font-size: 80px;
  }
}