.App {
  text-align: center;
  height: 97vh;
  font-family: sans-serif;
}

.App header {
  height: 132px;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
}

header .alarm {
  padding: 0 80px;
  font-size: 80px;
  color: #5C48D3;
}
header h1 {
  line-height: 132px;
  font-size: 48px;
  font-weight: 400;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  /* height: 50vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.main .counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-counter {
  width: 250px;
  height: 70px;
  border: none;
  border-radius: 15px;
  font-size: 32px;
  font-weight: 600px;
}

.color-white {
  color: white;
  
}
.bg-purple {
  background-color: #5C48D3;
  
}

.counter button {
  border: none;
  background-color: white;
  font-size: 100px;
  height: 150px;
  line-height: 150px;
  margin: 20px;
}
.counter .display {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 15px;
  font-size: 96px;
  line-height: 150px;
  font-weight: 400px;
}

.main .reset {
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  width: 150px;
  height: 60px;
  font-size: 32px;
  font-weight: 600;
}

footer span {
  font-weight: bold;
}